:root {
  --red-color: hsl(0, 100%, 74%);
  --green-color: hsl(154, 59%, 51%);
  --blue-color: hsl(248, 32%, 49%);
  --dark-blue-color: hsl(249, 10%, 26%);
  --grayish-blue-color: hsl(246, 25%, 77%);
  --shadow-color: hsla(249, 10%, 26%, 0.2);
  --white-color: #ffffff;
  --green-border: hsl(154 59% 47%);
  --light-grey-color: hsl(0, 2%, 83%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./images/bg-intro-desktop.png');
  background-color: var(--red-color);
}

.root-container {
  display: flex;
  /* padding: 120px 220px 0px 220px; */
  padding: 150px 10% 0% 10%;
}

.right-container {
  width: 50%;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-container {
  width: 50%;
}

.text-container {
  padding-right: 10%;
  h1 {
    font-size: 50px;
    font-weight: 700;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 40px;
  border-radius: 10px;
}

.input {
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: var(--light-grey-color);
  padding: 6px 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--dark-blue-color);
  &:focus-visible {
    border-style: solid;
    border-width: thin;
    border-color: var(--dark-blue-color);
    outline: none;
  }
  &:valid + .error-text {
    display: none;
  }
  /* &:valid {
    margin-bottom: 20px;
  } */
}

.margin-bottom {
  margin-bottom: 20px;
}

.input-error {
  &:invalid {
    border-style: solid;
    border-width: 2px;
    border-color: var(--red-color);
    background: url('./images/icon-error.svg') no-repeat right;
    background-size: 20px;
    background-origin: content-box;
    background-position: right center;
    margin-bottom: 0px;
    &::placeholder {
      color: var(--red-color);
    }
    &.error-text {
      display: block;
    }
  }
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  height: 60px;
  border-radius: 10px;
  font-weight: 300;
  margin-bottom: 20px;
  a {
    b {
      font-weight: 600;
    }
    text-decoration: none;
    color: var(--white-color);
  }
}

.button {
  padding: 18px;
  background-color: var(--green-color);
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white-color);
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 20px;
  border: solid var(--green-border) 1.7px;
  font-weight: 600;
  box-shadow: var(--green-border) 0px 3px;
  &:hover {
    opacity: 0.6;
  }
}

.shadow {
  box-shadow: var(--shadow-color) 0px 8px;
}

.terms-text {
  font-size: 10px;
  color: var(--grayish-blue-color);
  text-align: center;
  .terms-link {
    color: var(--red-color);
    font-weight: 600;
    cursor: pointer;
  }
}

.error-text {
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: end;
  font-size: 10px;
  color: var(--red-color);
  font-weight: 500;
}
